
@model  List<GameCenter.Entity.Dto.DtoChannel>
@using GameCenter.Core.Service;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 隐私列表</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover" id="DataTables_Table_0">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>渠道名称</th> 
                            <th>设置</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td> 
                                <td>
                                    <a href="/Channel/Edit?id=@item.Id" class="btn btn-rounded">修改</a>
                                    <a href="/Channel/Delete?id=@item.Id " class="btn btn-rounded">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div> 
    </div>

</div>
 

