<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/content/css/ling.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <img src="/content/images/cloud-logo.png" alt="" class="cloud-logo">
            <ul class="u-header">
                @if (!string.IsNullOrEmpty(Request["MenuId"]))
                {
                    Html.RenderAction("_DescMenu", "_Layout");
                }
                else
                {
                    Html.RenderAction("_Menu", "_Layout", new { name = ViewBag.Name });
                }  
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="cloud-bottom">
        <img class="btm-img" src="/content/images/cloud-btm.png" alt="">
    </div>
    <script src="/scripts/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>