
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "网站地图";
}
<div class="cloud-banner">
    <div class="cloud-type">网站地图</div>
</div>
<div class="main">
    <div class="map-wrap">
        <div class="map-type">
            <div class="map-type-name">首页</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="http://www.zjwinturn.com/MenuInfo/Info?MenuId=1" target="_blank">公司介绍</a></li>
                <li class="map-type-list"><a href="http://www.zjwinturn.com/MenuInfo/Info?MenuId=8" target="_blank">联系我们</a></li>
                <li class="map-type-list"><a href="http://www.zjwinturn.com/MenuInfo/Info?MenuId=9" target="_blank">家长监护</a></li>
                <li class="map-type-list"><a href="http://www.zjwinturn.com/Partner" target="_blank">合作伙伴</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">游戏</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/" target="_blank">灵文对决</a></li>
                <li class="map-type-list"><a href="https://itunes.apple.com/cn/app/meng-xiao-xi-ba-chuang-xin/id963065099?mt=8" target="_blank">萌消阿西吧</a></li>
                <li class="map-type-list"><a href="http://app.mi.com/details?id=com.winturn.linkup" target="_blank">双消方块</a></li>
            </ul>
        </div> 
        <div class="map-type">
            <div class="map-type-name">资讯</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="http://www.zjwinturn.com/News" target="_blank">新闻中心</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">灵文对决官网</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/GameImages/info?type=1&MenuId=14" target="_blank">游戏背景</a></li>
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/Map?MenuId=15" target="_blank">界面总览</a></li>
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/GameImages/info?type=3&MenuId=16" target="_blank">特色系统</a></li>
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/Hero/List?MenuId=17" target="_blank">英雄介绍</a></li>
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/News/Strategy?MenuId=18" target="_blank">攻略站</a></li>
                <li class="map-type-list"><a href="http://lwdj.zjwinturn.com/" target="_blank">游戏下载</a></li>
            </ul>
        </div>
    </div>
</div>
