
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "网站地图";
}
<div class="cloud-banner">
    <div class="cloud-type">网站地图</div>
</div>
<div class="main">
    <div class="map-wrap">
        <div class="map-type">
            <div class="map-type-name">首页</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="">公司介绍</a></li>
                <li class="map-type-list"><a href="">联系我们</a></li>
                <li class="map-type-list"><a href="">家长监护</a></li>
                <li class="map-type-list"><a href="">合作伙伴</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">游戏</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="">灵文对决</a></li>
                <li class="map-type-list"><a href="">萌消阿西吧</a></li>
                <li class="map-type-list"><a href="">双消方块</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">游戏</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="">灵文对决</a></li>
                <li class="map-type-list"><a href="">萌消阿西吧</a></li>
                <li class="map-type-list"><a href="">双消方块</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">资讯</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="">新闻中心</a></li>
            </ul>
        </div>
        <div class="map-type">
            <div class="map-type-name">灵文对决官网</div>
            <ul class="map-type-lists">
                <li class="map-type-list"><a href="">游戏背景</a></li>
                <li class="map-type-list"><a href="">界面总览</a></li>
                <li class="map-type-list"><a href="">特色系统</a></li>
                <li class="map-type-list"><a href="">英雄介绍</a></li>
                <li class="map-type-list"><a href="">攻略站</a></li>
                <li class="map-type-list"><a href="">游戏下载</a></li>
            </ul>
        </div>
    </div>
</div>
