<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/css/ling.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <img src="@ViewBag.Logo" class="ling-logo">
            <ul class="u-header">
                @if (!string.IsNullOrEmpty(Request["MenuId"]))
                {
                    Html.RenderAction("_DescMenu", "_Layout");
                }
                else
                {
                    Html.RenderAction("_Menu", "_Layout", new { name = ViewBag.Name });
                }
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="cloud-bottom">
        <img class="btm-img" src="/content/img/cloud-btm.png" alt="">
    </div>
    <div class="download">
        <div class="two-d-code">
            <img src="/content/img/two-d-code.png" alt="" class='two-d-img'>
            <span class="two-d-notes">(扫描下载匀腾手游)</span>
        </div>
        <a href=""><img src="/content/img/d-android.png" alt=""></a>
        <a href=""><img src="/content/img/d-ios.png" alt=""></a>
    </div>

    <script src="/Scripts/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
