
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="cloud-banner">
    <div class="cloud-type">新闻中心</div>
</div>
<div class="main">
    <div class="main-content main-content-comprehensive">
        <ul class="u-content-type">
            <li class="l-content-type sel">综合</li>
            <li class="l-content-type">新闻</li>
            <li class="l-content-type">公告</li>
            <li class="l-content-type">活动</li>
        </ul>
        <div class="d-lists-wrap">
            <ul class="u-content-lists  u-comprehensive">
                <li class="l-content-list">
                    <span class="list-title">综合</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">综合</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">综合</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">综合</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
            </ul>
            <ul class="u-content-lists  u-news">
                <li class="l-content-list">
                    <span class="list-title">新闻</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">新闻</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">新闻</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">新闻</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
            </ul>
            <ul class="u-content-lists  u-report">
                <li class="l-content-list">
                    <span class="list-title">公告</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">公告</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">公告</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">公告</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
            </ul>
            <ul class="u-content-lists  u-acti">
                <li class="l-content-list">
                    <span class="list-title">活动</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">活动</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">活动</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
                <li class="l-content-list">
                    <span class="list-title">活动</span>
                    <span class="list-time">2016年3月10日</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-sidebar">
        <a href="" class="acti-href"><img src="/content/images/right_pic.png" alt=""></a>
        <a href="" class="acti-href"><img src="/content/images/right_pic_2.png" alt=""></a>
        <a href="" class="acti-href"><img src="/content/images/right_pic_3.png" alt=""></a>
    </div>
</div>
