@model GameCenter.Entity.Dto.DtoNews
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
 
<div class="cloud-banner">
    <div class="cloud-type">@Model.Title</div>
</div>
<div class="main main-culture">
    <p class="artInfo"><span class="artDate">@(Model.CreateTime.ToString("yyyy-MM-dd"))</span></p>
    <div class="culture-cxt">
        @Html.Raw(Model.Contents)
    </div>
    <div class="culture-pic">
    </div>
</div>



