@using GameCenter.Core.Service;
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var newsType = NewsTypeService.GetTypeCacheList();
    var gamesList = GameService.GetGamesCache();
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 添加新闻</h2>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START VALIDATIONENGINE PLUGIN -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="validate" method="post" class="form-horizontal" action="/New/AddForm" enctype="multipart/form-data">

                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻标题:</label>
                            <div class="col-md-9">
                                <input type="text" name="Title" class="validate[required] form-control" id="form-validation-field-0">
                                <span class="help-block">不能为空,最大不能超过16个汉字</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻标签:</label>
                            <div class="col-md-9">
                                <input type="text" name="Tag" class="validate form-control" id="form-validation-field-1">
                                <span class="help-block"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻作者:</label>
                            <div class="col-md-9">
                                <input type="text" name="Author" class="validate form-control" id="form-validation-field-2">
                                <span class="help-block"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻类型:</label>
                            <div class="col-md-9">
                                <select name="NewsType" class="validate[required]" id="form-validation-field-4">
                                    @foreach (var item in newsType)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span class="help-block">不能为空</span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏名称:</label>
                            <div class="col-md-9">
                                <select name="GameId" class="validate[required]" id="form-validation-field-5">
                                    <option value="0">公共</option>
                                    @foreach (var item in gamesList)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span class="help-block">不能为空</span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2 control-label">是否热点新闻:</label>
                            <div class="col-md-9">
                                <input type="checkbox" name="top" value="true">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻图片:</label>
                            <div class="col-md-9">
                                <a class="file-input-wrapper btn btn-default  fileinput btn-danger">
                                    <input type="file" class="fileinput btn-danger" name="Filedata" id="form-validation-field-3" data-filename-placement="inside" title="选择新闻图片">
                                </a>
                                <span class="help-block">备注：图片规格大小390×320</span>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-md-2 control-label">新闻内容:</label>
                            <div class="col-md-10">
                                <textarea name="Contents" id="Contents"></textarea>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" type="button" onclick="$('#validate').validationEngine('hide');">隐藏提示</button>
                            <button class="btn btn-primary" type="submit" id="gameSubmit">确认提交</button>
                        </div>

                    </form>

                </div>
            </div>
            <!-- END VALIDATIONENGINE PLUGIN -->

        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> <p>错误提示!</p></div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">关闭</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src='/Scripts/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/validationengine/jquery.validationEngine.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/jquery-validation/jquery.validate.js'></script>
    <script type="text/javascript" src="~/Scripts/plugins/jqueryform/jquery.form.js"></script>
    <link href="~/Scripts/plugins/umeditor/themes/default/default.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/plugins/umeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/umeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jqueryform/jquery.form.js"></script>

    <script type="text/javascript">

        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="Contents"]', {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: true, //允许上传图片
                uploadJson: '/GameInfo/UploadFile', //服务端上传图片处理URI
                minWidth: 590,
                minHeight: 300,
                items: ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'image', 'link', '|', 'fullscreen', 'source'],
                afterCreate: function (e) {
                    //this.sync();
                },
                afterUpload: function (url) {
                    alert(url);
                },
                afterBlur: function () { this.sync(); }
            });
        });

        $('#validate').ajaxForm({
            url: '/News/AddForm',
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    window.location.href = "/News/List";
                } else {
                    $('#message-box-sound-2 .fa-times').next().html('');
                    $('#message-box-sound-2 .fa-times').next().html(data.error);
                    $('#message-box-sound-2').addClass('open')
                }
            }
        });
    </script>
}
