@model GameCenter.Entity.Data.GameImages
@{
    ViewBag.Title = "游戏介绍";
}
<div class="ling-banner">
    <div class="ling-type">游戏介绍 <span class="sub-ling-type">> @ViewBag.TypeName</span></div>
</div>
<div class="ling-content">
    <div class="main hero-detail">
        <img src="@GameCenter.Core.Common.Domain.GetImage(Model.ImagePath)" alt="" style="height: 500px; width: 1000px" class="hero-detail-img">
        <p class="hero-desc">
            @Html.Raw(Model.Info)
        </p>
    </div>
    @*<img class="btm-img" src="/content/img/ling-btm.png" alt="">*@
</div>


