@model GameCenter.Entity.Data.GameImages
@{
    ViewBag.Title = "游戏介绍";
} 
<div class="ling-banner">
    <div class="ling-type">游戏介绍 <span class="sub-ling-type">> @ViewBag.TypeName</span></div>
</div>
<div class="main main-culture">
    <div class="ling-cxt">
        @Html.Raw(Model.Info)
    </div>
    @*<div class="culture-pic">
    </div>*@
</div>

