@foreach (var item in ViewBag.Menu)
{
    <li class="l-header">
        <a href="@(!string.IsNullOrEmpty(item.Url)?item.Url:("/MenuInfo/Info?MenuId="+item.Id))">@item.Name</a>
        @{ var list = GameCenter.Core.Service.MenuService.GetList(item.Id, item.GameId);}
        @if (list.Count > 0)
        {
            <div class="sub-news-head">
                @foreach (var child in list)
                {
                    <a href="@(!string.IsNullOrEmpty(child.Url)?child.Url:("/MenuInfo/Info?MenuId="+child.Id))">@child.Name</a>
                }
            </div>
            <span class="sub-more-icon"></span>
        }
    </li>
            }
