body,ul,li,a{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
} 
body{
	font-family: "Microsoft Yahei";
}
.header{
    background:#fff;
	height: 150px;
}
.header .header-inner{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.header .header-inner .ling-logo{
	position: absolute;
	top: 0;
	left: -40px;
	width: 320px;
}

.header .header-inner .u-header{
	float: right;
	height: 150px;
}
.header .header-inner .u-header .l-header{
	float: left;
	color: #8b8b8b;
	font-size: 22px;
	line-height: 150px;
	padding: 0 20px;
	cursor: pointer;
    position: relative;
}
.header .header-inner .u-header .l-header:hover{
	background: #cd161c;
	 
	height: 170px;
	position: relative;
}
.header .header-inner .u-header .l-header a{
	color: #8b8b8b;
}

.header .header-inner .u-header .sel{
	background: #cd161c;
	
	height: 170px;
	position: relative;
}
.header .header-inner .u-header .sel a{
	color: #ffffff;
}
.header .header-inner .u-header .l-header:hover .sub-more-icon{
	width:0;    
	height:0;   
	border:10px solid transparent;    
	border-top-color:#fff;
	position: absolute;
	bottom: 12px;
	left: 50%;
	margin-left: -10px;
	display: block;
}
.header .header-inner .u-header .sel::after{
	width:0;    
	height:0;   
	border:10px solid transparent;    
	border-top-color:#fff;
	content:"";
	position: absolute;
	bottom: 12px;
	left: 50%;
	margin-left: -10px;
}

 .header .header-inner .u-header .l-header:hover .sub-news-head{
	display: block;
}

.sub-news-head{
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 6;
	
	background: #cd161c;
	font-size: 20px;
	display: none;
	width: 100%;
	padding: 10px 0;
}
.header .header-inner .u-header .l-header:hover .sub-news-head a{
	display: block;
	color: #ffffff;
	text-align: center;
	line-height: 38px;
}

.header .header-inner .u-header .l-header a{
	color: #8b8b8b;
}

.header .header-inner .u-header .sel{
	background: #cd161c;
	
	height: 170px;
	position: relative;
}
.header .header-inner .u-header .sel a{
	color: #ffffff;
}


.header .cloud-logo{
	margin-top: 30px;
}

 

.ling-banner{
	padding-top: 90px;
	height: 60px;
	background: url(/Content/img/ling-banner.png);
	background-size: 100% 100%;
}

.ling-banner .ling-type{
	font-size: 40px;
	line-height: 44px;
	color: #ffffff;
	width: 1000px;
	margin: 0 auto;
	text-indent: 20px;
	border-left: 12px solid #0068d8;	
}

.ling-banner .ling-type .sub-ling-type{
	font-size: 24px;
}

.ling-content{
	background: url(/Content/img/ling-content.png) no-repeat top center;
	background-size: 100% 100%; 
}

.main{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 4px 0 20px 0;
}
.main-content{
	float: left;
	width: 72%; 
	border: 2px solid #c2c2c2;
	border-bottom: 6px solid #c2c2c2;
	padding-bottom: 12px;
	overflow: hidden;
	background: #ffffff;
}

.main-content .u-content-type{
	width: 100%;
	background: #d9d9d9;
}
.main-content .u-content-type li{
	width: 25%;
	float: left;
	background: #d9d9d9;
	color: #383838;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	border-top: 10px solid #9ad997;
}

.main-content .u-content-type .l-content-type{
	cursor: pointer;
}
.main-content .u-content-type .sel{
	background: #ffffff;
	border-top-color: #07d800;
	cursor: default;
}

.main-content .d-lists-wrap .u-content-lists{
	padding: 10px 10px 0 10px;
	display: none;
}

.main-content .d-lists-wrap .l-content-list{
	border-bottom: 1px dashed #969696;
	line-height: 28px;
	padding-top: 8px;
	color: #333333;
	font-size: 18px;
	clear: both;
}

.main-content .d-lists-wrap .l-content-list .list-title{
	margin-right: 120px;
	display: inline-block;
}

.main-content .d-lists-wrap .l-content-list .list-time{
	float: right;	
	width: 130px;
	font-size: 16px;
}
.main-content-comprehensive .u-comprehensive{
	display: block !important;
}

.main-content-news .u-news{
	display: block !important;
}
.main-content-report .u-report{
	display: block !important;
}
.main-content-acti .u-acti{
	display: block !important;
}
.main-content-junior .u-junior{
	display: block !important;
}
.main-content-senior .u-senior{
	display: block !important;
}s
.main-content-strategy .u-strategy{
	display: block !important;
}



.main-content .u-content-type{
	
	overflow: hidden;
}

.main-sidebar{
	float: right;
	width: 26%;

}
.main-sidebar .acti-href{
	display: block;
	margin-bottom: 4px;
	border: 2px solid #7d7d7d;
}
.main-sidebar .acti-href img{
	display: block;
	width: 100%;
}

.btm-img{
	clear: both;
	width: 100%;
	display: block;
}

.content-intro-gameBg .intro-gameBg{
	display: block !important;
}
.content-intro-gamePlace .intro-gamePlace{
	display: block !important;
}
.content-intro-gameSys .intro-gameSys{
	display: block !important;
}

.intro-content{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	min-height: 400px;
}

.intro-content .intro-cm{
	display: none;
	min-height: 300px;
	padding: 36px 20px;
}

.intro-content .u-intro-type{
	position: absolute;
	left: 0;
	top: 20px;

}

.intro-content .l-intro-type{
	width: 160px;
	height: 46px;
	line-height: 46px;
	background: #4b7b36;
	text-indent: 33px;
	font-size: 24px;
	border-radius: 4px;
	margin-bottom: 6px;
	color: #ffffff;
	cursor: default;
}

.intro-content .u-intro-type .sel{
	background: #ffffff;
	color: #333333;
	width: 174px;
}

.intro-content-detail{
	margin-left: 170px;
	background: #ffffff;
	border: 1px solid #c6c170;
	border-top: 10px solid #35d800;
	clear: both;
}

.intro-content-contact{
	background: #ffffff;
	border: 1px solid #c6c170;
	border-top: 10px solid #35d800;
	clear: both;
}

.intro-gameSys .l-gameSys{
	line-height: 26px;
	padding-top: 8px;
	border-bottom: 1px dashed #969696;
	font-size: 20px;
	color: #666666;
}

.tch-main{
	min-height: 700px;
}

.tch-head{
	text-align: center;
	font-size: 64px;
	color: #457c3b;
}
.tch-head .intro-title{
	display: block;
	font-size: 22px;
}

.tch-imgs-wrap{
	width: 900px;
	margin: 0 auto;
	background: url(/Content/img/iphone1.png) no-repeat;
	background-size: 100% 100%;
	height: 433px;
	position: relative;
	margin-top: 40px;
}

.tch-imgs-wrap .tch-imgs{
	position: relative;
	width: 696px;
	margin: 0 auto;
	height: 394px;
	top: 19px;
	overflow: hidden;
	
}
.tch-imgs-wrap .tch-imgs img{
	width: 100%;
	height: 100%;
	display: none;
}

.tch-imgs-wrap .tch-imgs .cur-img{
	display: block;
}

.tch-imgs-wrap .prev-img{
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -50px;
	cursor : pointer;
}


.tch-imgs-wrap .next-img{
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -50px;
	cursor: pointer;
}

.u-hero-lists{
	margin-top: 10px;
	padding: 20px 20px 120px 20px;
	border: 1px solid #ccc;
	overflow: hidden;
	/*background: rgba(255,255,255, 0.27);*/

}
.u-hero-lists .l-hero-list{
	text-align: center;
	width: 100px;
	margin: 10px;
	float: left;
	cursor: pointer;
}
.u-hero-lists .l-hero-list .hero-img{
	display: block;
	width: 90px;
	height: 90px;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 14px;
	margin-bottom: 10px;
}
.hero-name{
	font-size: 18px;
	line-height: 20px;
	color: #666666;
}
.hero-detail{}

.hero-detail-img{
	padding-top: 10px;
	margin: 0 auto;
}
.hero-desc{
	text-indent: 2em;
	width: 960px;
	padding: 20px;
	font-size: 18px;
	color: #333333;
	line-height: 26px;
}

.u-Partner-lists{
	margin-top: 10px;
	padding: 20px 20px 120px 20px;
	border: 1px solid #ccc;
	overflow: hidden;
	/*background: rgba(255,255,255, 0.27);*/ 
}
.u-Partner-lists .l-Partner-list{
	text-align: center; 
	float: left;
	cursor: pointer;
}
.u-Partner-lists .l-Partner-list .Partner-img{
	display: block;
	width: 220px;
	height: 75px;
	padding: 9px; 
	margin-bottom: 10px;
}
.Partner-name{
	font-size: 18px;
	line-height: 20px;
	color: #666666;
}

.download{
	position: fixed;
	right: 20px;
	bottom: 80px;
}

.download .two-d-code{
	text-align: center;
	padding-bottom: 10px;
}

.download .two-d-img{
	width: 150px;
}

.download a{
	display: block;
}
.download a img{
	width: 142px;
}

.download .two-d-notes{
	display: block;
	font-size: 16px;
	line-height: 18px;
}

.main-culture{
	border: 1px solid #999;
}


.cloud-banner{
	padding-top: 190px;
	height: 60px;
	background: url(/Content/img/cloud-banner.png);
	background-size: 100% 100%;
}

.cloud-banner .cloud-type{
	font-size: 40px;
	line-height: 44px;
	color: #ffffff;
	width: 1000px;
	margin: 0 auto;
	text-indent: 20px;
	border-left: 12px solid #0068d8;	
}

.cloud-bottom{
	clear: both;
	height: 130px;
	background: #000000;
}

.cloud-bottom .btm-img{
	max-width: 1000px;
	margin: 0 auto;
	display: block;
}

.cloud-logo{
	margin-top: 30px;
}

.main-culture{
	margin: 20px auto 120px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px 0;
}

.main-culture .culture-cxt{
	padding: 0 20px;
	line-height: 28px;
}


.index-top{
	height: 900px;
	/*background: url(/Content/img/ling-bg.png) no-repeat;*/
	/*background-size: 100% 100%;*/
	position: relative;
}
.index-top-inner{
	width: 1000px;
	margin: 0 auto;
	padding-top: 380px;
	position: relative;
	z-index: 2;
}
.index-download{
	overflow: hidden;
}
.index-download .two-d-code{
	width: 140px;
	text-align: center;
	float: left;
}
.index-download .two-d-code .two-d-img{
	width: 100%;
}

.index-download a{
	display: block;
	margin-left: 30px;
	margin-bottom: 10px;
}

 .index-download .dn-img-wrap{
 	float: left;
 }


.index-download a img{
	width: 160px;
	display: block;
}

.index-download video{
	float: left;
	width: 140px;
	height: 140px;
	border: 1px solid #ccc;
	margin-left: 30px;
}

.img-wrap{
	clear: both;
	width: 490px;
	float: left;
	height: 320px;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
}

.img-wrap .imgs{
	width: 100%;
	height: 100%;
	position: absolute;
}

.img-wrap img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 490px;
	top: 0;
}
.img-wrap .J-curImg{
	left: 0;
}

.img-wrap .img-nav{
	position: absolute;
	bottom: 4px;
	left: 4px;
}

.img-wrap .img-nav .s-nav{
	width: 8px;
	height: 8px;
	line-height: 8px;
	border: 3px solid #587987;
	display: inline-block;
	background: #c0b9c3;
	color: #666;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
}

.img-wrap .img-nav .cur-nav{
	background: #fff;
}

.indexs-info{
	margin-top: 20px;
	width: 490px;
	float: right;
}
.indexs-info .u-info-head{
	background: #282828;
	color: #ffffff;
	overflow: hidden;
}

.indexs-info .u-info-head .l-info-head{
	width: 25%;
	float: left;
	background: #282828;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;

}

.indexs-info .u-info-head .sel{
	background: #00abd8;
}

.indexs-info .indexs-info-content ul{
	display: none;
	height: 280px;
	background: #ffffff;
	line-height: 40px;
}
.indexs-info .indexs-info-content ul li{
	border-bottom: 1px dotted #ccc;
	text-indent: 10px;
}
.indexs-info .indexs-info-content ul li span{
	padding-right: 6px;
}


.indexs-info-conprehensive .u-info-conprehensive{
	display: block !important;
}

.indexs-info-news .u-info-news{
	display: block !important;
}

.indexs-info-abroad .u-info-abroad{
	display: block !important;
}

.indexs-info-notice .u-info-notice{
	display: block !important;
}

.bg-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bg-wrap .bg-imgs-wrap img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

.bg-wrap .bg-imgs-wrap .cur-bg-img{
	left: 0;
}

.bg-wrap .bg-prev-img{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -61px;
}

.bg-wrap .bg-next-img{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -61px;
}

/* µ×²¿ */
.footer{
	padding:20px 0;
	margin-top:80px;
	background:#000;
	text-align:center;
	color:#fff;
	line-height:50px;
}
.footer i{
	display:inline-block;
	width:48px;
	height:36px;
	background:url('/Content/img/logo2.png');
	vertical-align:middle;
}





