@model List<GameCenter.Entity.Dto.DtoPartner>
@{
    ViewBag.Title = "合作伙伴";
} 
<div class="ling-banner">
    <div class="ling-type"><span>合作伙伴</span></div>
</div>
 
<div class="ling-content">
    <div class="main">
        <ul class="u-Partner-lists">
            @foreach (var item in Model)
            {
                <li class="l-Partner-list"> 
                    <a href="@item.LlinkUrl" target="_blank"><img src="@GameCenter.Core.Common.Domain.GetImage(item.ImagePath)" alt="" class="Partner-img"></a> 
                    <span class="Partner-name">@item.Name</span> 
                </li>
            }
        </ul>
    </div>
</div>
